package {{packageName}};

import feign.Headers;
import feign.Param;
import feign.RequestLine;
{{#imports}}
import {{packageName}}.{{typeName}};
{{/imports}}

public interface {{clientName}} {

{{#operations}}
    @RequestLine("{{{requestLine}}}")
    @Headers({"Content-Type: application/json", "Accept: application/json"{{#headers}}, "{{{rawName}}}: {{{name}}}"{{/headers}}})
    {{#requestBody}}
    {{{responseType.typeName}}} {{name}}({{{typeName}}} body{{#params}}, @Param("{{name}}") {{{type}}} {{name}}{{/params}});
    {{/requestBody}}
    {{^requestBody}}
    {{{responseType.typeName}}} {{name}}({{#params}}@Param("{{name}}") {{{type}}} {{name}}{{^last}}, {{/last}}{{/params}});
    {{/requestBody}}

{{/operations}}
}
