package {{packageName}};

import feign.Param;
import feign.RequestLine;
{{#imports}}
import {{packageName}}.{{typeName}};
{{/imports}}

public interface {{clientName}} {

{{#operations}}
    {{#requestBody}}
    @RequestLine("{{{requestLine}}}")
    @Headers({"Content-Type: application/json", "Accept: application/json"})
    {{{responseType.typeName}}} {{name}}({{{typeName}}} body{{#params}}, @Param("{{name}}") {{{type}}} {{name}}{{/params}});
    {{/requestBody}}
        {{^requestBody}}
    @RequestLine("{{{requestLine}}}")
    @Headers({"Content-Type: application/json", "Accept: application/json"})
    {{{responseType.typeName}}} {{name}}({{#params}}@Param("{{name}}") {{{type}}} {{name}}{{^last}},{{/last}}{{/params}});
    {{/requestBody}}

{{/operations}}
}
