package {{packageName}};

import feign.Feign;
import feign.jackson.JacksonDecoder;
import feign.jackson.JacksonEncoder;
{{#clients}}
import {{packageName}}.{{clientType}};
{{/clients}}

public class {{sdkName}} {

    private static String baseUrl;

    public static void setBaseUrl(String baseUrl) {
        this.baseUrl = baseUrl;
    }

    {{#clients}}
    public static {{clientType}} {{clientName}}(String accessToken) {
        return Feign
                .builder()
                .encoder(new JacksonEncoder())
                .decoder(new JacksonDecoder())
                .requestInterceptor(new AccessTokenInterceptor(accessToken))
                .target({{clientType}}.class, {{sdkName}}.baseUrl != null ? {{sdkName}}.baseUrl : "{{{baseUrl}}}");
    }

    public static {{clientType}} {{clientName}}() {
        return Feign
                .builder()
                .encoder(new JacksonEncoder())
                .decoder(new JacksonDecoder())
                .requestInterceptor(new AccessTokenInterceptor())
                .target({{clientType}}.class, {{sdkName}}.baseUrl != null ? {{sdkName}}.baseUrl : "{{{baseUrl}}}");

    }

    {{/clients}}
}
